{
  "env": {
    "browser": true,
    "node": true,
  },
  "extends": "eslint-config-airbnb",
  "rules": {
    "semi": 0,
    "no-console": 0,
    "no-shadow": [
      "error", 
      "allow": ["err", "val", "resolve", "reject"],
    ],
  }
}
