{
  "env": {
    "browser": true,
    "node": true,
  },
  "extends": "standard",
  "plugins": ["standard", "import", "promise", "async", "node"],
  "rules": {
    "no-multiple-empty-lines": [1, {"max": 2}],
  }
}
